# API Configuration
# Modes: 'dev' or 'prod'
VITE_API_MODE=dev

# Production API
VITE_PROD_API_URL=https://staging.kurmaspace.com/klhk/app/index.php/api/portal_v1
VITE_PROD_API_KEY=TULIS_KEY_PUBLIK_DISINI

# Development API
# VITE_DEV_API_URL=https://coloured-riannon-aruskoding-eb6d5815.koyeb.app/api/portal_v1
VITE_DEV_API_URL=http://localhost:8000/api/portal_v1
VITE_DEV_API_KEY=TULIS_KEY_PUBLIK_DISINI

# App Configuration
VITE_APP_NAME=TMAT Monitor
